@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0rem;
  padding-top: 4rem;
  --primary-color: #333;
  --typo-first: Arial, Helvetica, sans-serif;
  --typo-second: "Spectral", Georgia;
  font-family: var(--typo-first);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0rem;
}

ul,
li {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--typo-first);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.active svg {
  fill: #fb1;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.animeLeft {
  opacity: 0;
  transform: translate(-30px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

.mainContainer {
  margin-top: 2rem;
}
