* {
  box-sizing: border-box;
}

body {
  margin: 0rem;
  padding-top: 4rem;
  --primary-color: #333;
  --typo-first: Arial, Helvetica, sans-serif;
  --typo-second: "Spectral", Georgia;
  font-family: var(--typo-first);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0rem;
}

ul,
li {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--typo-first);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
